/* Start Global Roles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Rubik", sans-serif;
    font-style: normal;
}
button {
    border: 0;
    outline: 0;
}
a {
    text-decoration: none;
    display: block;
    color: black;
}
ul {
    list-style: none;
}
:root {
    --main-color: #ffffff;
    --black-color: #000000;
}
.container {
    margin-right: 70px;
    margin-left: 70px;
}
@media (max-width: 767px) {
    .container {
        margin-right: 40px;
        margin-left: 40px;
    }
}
/* End Global Roles */
.content-page {
    text-align: center;
    background-color: var(--main-color);
    padding: 30px;
}
.content {
    margin-bottom: 30px;
    z-index: 1;
    position: relative;
}
h1 {
    color: var(--black-color);
    margin-bottom: 60px;
    font-weight: 600;
}
.language-boxes {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    flex-wrap: wrap;
}
.language-boxes select {
    padding: 10px;
    font-size: 15px;
}

/* Start With Boxes */

.mark {
    position: relative;
    display: none;
}
.mark i {
    position: absolute;
    top: 1px;
    right: -10px;
    width: 40px;
    border-radius: 0;
    text-align: center;
    padding: 8px;
    border-radius: 4px;
}
.translate-boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 30px;
    margin-bottom: 20px;
}
textarea {
    border-radius: 5px;
}
.icons {
    text-align: left;
}
i {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    font-size: 20px;
    background-color: rgb(228, 228, 228);
    width: 50px;
    padding: 15px;
    border-radius: 40px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    z-index: 0;
}
i::after {
    content: "";
    position: absolute;
    background-color: rgb(189, 189, 189);
    bottom: 3px;
    right: 2px;
    width: 0%;
    height: 10%;
    border-radius: inherit;
    transition: 0.3s;
    z-index: -1;
}
i::before {
    z-index: 1;
}
i:hover::after {
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
textarea {
    font-weight: normal;
    font-size: 20px;
    padding: 8px;
    height: 300px;
    outline: 0;
    border: 0;
    border: 1px solid rgb(231 231 231);
    width: 100%;
    margin-bottom: 10px;
}

.click {
    background-color: rgb(0, 0, 0);
    padding: 10px 30px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 600;
    border-radius: 4px;
    position: relative;
    color: white;
}
.click::before {
    content: "";
    background-color: #cecece;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 5px;
    left: 7px;
    z-index: -1;
    border-radius: inherit;
    transition: 0.3s;
}
.click:hover::before {
    top: 0;
    left: 0;
}
@media (max-width: 767px) {
    .translate-boxes {
        grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
    }
    .content-page {
        padding: 5px;
    }
    .language-boxes {
        justify-content: center;
    }
    select {
        margin-bottom: 20px;
    }
}



